@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsExtraBold";
  src: local("PoppinsExtraBold"),
    url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: local("PoppinsSemiBold"),
    url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsLight";
  src: local("PoppinsLight"),
    url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}

html,
#root {
  height: 100vh;
  background-color: #f6edd9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
